@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src: url(s/overpass/v12/qFda35WCmI96Ajtm83upeyoaX6QPnlo6ovPbPpqP.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url(s/overpass/v12/qFda35WCmI96Ajtm83upeyoaX6QPnlo6_PPbPpqP.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: url(s/overpass/v12/qFda35WCmI96Ajtm83upeyoaX6QPnlo6IvTbPpqP.ttf) format('truetype');
}
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url(s/overpass/v12/qFda35WCmI96Ajtm83upeyoaX6QPnlo6G_TbPpqP.ttf) format('truetype');
}
